# Byte-compiled / cache
__pycache__/
**/__pycache__/
*.py[cod]

# Testing & type checking
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# IDE / Editor
*.iml
.idea/

# Build / Packaging
*.egg-info/
*.egg
build/
dist/

# Logs / Output
log/
*.log
output.txt
repo/

# Version info
src/ivs_sessions_browser/_version.py

